:root {
  --button-size: 50px;
}

@media only screen and (max-width: 800px) {
  .display-3 {
    font-size: 3rem;
  }
  .display-4 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 0.8rem;
  }
  .top-offset {
    display: none;
  }
  div {
    font-size: 0.8rem;
  }
}

.perspective-container {
  -webkit-perspective: 95px;
          perspective: 95px;
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.perspective-menu {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(35deg);
          transform: rotateX(35deg);
}

.stick-bottom {
  position: fixed;
  bottom: 0;
}

.stick-center {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bottom-navigation {
  background-color: grey;
  padding: 15px;
  border-radius: 8px;
  -webkit-transform: translateY(15px) rotateX(35deg);
          transform: translateY(15px) rotateX(35deg);
}

.stacked-panel {
  position: fixed;
  -webkit-animation: move 3s linear infinite;
          animation: move 3s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -1s);
          animation-delay: calc(var(--scroll) * -1s);
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes move {
  to {
    -webkit-transform: translateZ(-960px);
            transform: translateZ(-960px);
  }
}

@keyframes move {
  to {
    -webkit-transform: translateZ(-960px);
            transform: translateZ(-960px);
  }
}

.background {
  position: absolute;
}

.bounce {
  -webkit-animation: bounce 2s ease infinite;
          animation: bounce 2s ease infinite;
}

@-webkit-keyframes bounce {
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  80% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  90% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  95% {
    -webkit-transform: translateY(-14%);
            transform: translateY(-14%);
  }
  97% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  99% {
    -webkit-transform: translateY(-6%);
            transform: translateY(-6%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  80% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  90% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  95% {
    -webkit-transform: translateY(-14%);
            transform: translateY(-14%);
  }
  97% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  99% {
    -webkit-transform: translateY(-6%);
            transform: translateY(-6%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.bubble {
  position: fixed;
  background: black;
  opacity: .7;
  border-radius: 50%;
  -webkit-animation: move 3s linear infinite;
          animation: move 3s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -1s);
          animation-delay: calc(var(--scroll) * -1s);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.bubble:nth-child(1) {
  height: 20px;
  width: 20px;
  -webkit-transform: translate3d(103vw, 120vh, 523px);
          transform: translate3d(103vw, 120vh, 523px);
  background: #9a26d9;
}

.bubble:nth-child(2) {
  height: 2px;
  width: 2px;
  -webkit-transform: translate3d(61vw, 63vh, 23px);
          transform: translate3d(61vw, 63vh, 23px);
  background: #9ad926;
}

.bubble:nth-child(3) {
  height: 22px;
  width: 22px;
  -webkit-transform: translate3d(71vw, 111vh, 218px);
          transform: translate3d(71vw, 111vh, 218px);
  background: #26d9c1;
}

.bubble:nth-child(4) {
  height: 6px;
  width: 6px;
  -webkit-transform: translate3d(40vw, 71vh, 531px);
          transform: translate3d(40vw, 71vh, 531px);
  background: #26d997;
}

.bubble:nth-child(5) {
  height: 19px;
  width: 19px;
  -webkit-transform: translate3d(104vw, 47vh, 517px);
          transform: translate3d(104vw, 47vh, 517px);
  background: #d93226;
}

.bubble:nth-child(6) {
  height: 1px;
  width: 1px;
  -webkit-transform: translate3d(13vw, 27vh, 149px);
          transform: translate3d(13vw, 27vh, 149px);
  background: #2668d9;
}

.bubble:nth-child(7) {
  height: 3px;
  width: 3px;
  -webkit-transform: translate3d(103vw, 3vh, 165px);
          transform: translate3d(103vw, 3vh, 165px);
  background: #26b8d9;
}

.bubble:nth-child(8) {
  height: 13px;
  width: 13px;
  -webkit-transform: translate3d(104vw, 131vh, 161px);
          transform: translate3d(104vw, 131vh, 161px);
  background: #d9be26;
}

.bubble:nth-child(9) {
  height: 21px;
  width: 21px;
  -webkit-transform: translate3d(59vw, 150vh, 556px);
          transform: translate3d(59vw, 150vh, 556px);
  background: #d926c7;
}

.bubble:nth-child(10) {
  height: 2px;
  width: 2px;
  -webkit-transform: translate3d(135vw, 61vh, 339px);
          transform: translate3d(135vw, 61vh, 339px);
  background: #d926b2;
}

.bubble:nth-child(11) {
  height: 22px;
  width: 22px;
  -webkit-transform: translate3d(96vw, 44vh, 421px);
          transform: translate3d(96vw, 44vh, 421px);
  background: #d926d9;
}

.bubble:nth-child(12) {
  height: 19px;
  width: 19px;
  -webkit-transform: translate3d(90vw, 86vh, 247px);
          transform: translate3d(90vw, 86vh, 247px);
  background: #c4d926;
}

.bubble:nth-child(13) {
  height: 7px;
  width: 7px;
  -webkit-transform: translate3d(13vw, 66vh, 278px);
          transform: translate3d(13vw, 66vh, 278px);
  background: #26d974;
}

.bubble:nth-child(14) {
  height: 4px;
  width: 4px;
  -webkit-transform: translate3d(142vw, 150vh, 434px);
          transform: translate3d(142vw, 150vh, 434px);
  background: #3226d9;
}

.bubble:nth-child(15) {
  height: 25px;
  width: 25px;
  -webkit-transform: translate3d(127vw, 44vh, 530px);
          transform: translate3d(127vw, 44vh, 530px);
  background: #d926ca;
}

.bubble:nth-child(16) {
  height: 18px;
  width: 18px;
  -webkit-transform: translate3d(117vw, 106vh, 402px);
          transform: translate3d(117vw, 106vh, 402px);
  background: #50d926;
}

.bubble:nth-child(17) {
  height: 13px;
  width: 13px;
  -webkit-transform: translate3d(89vw, 35vh, 118px);
          transform: translate3d(89vw, 35vh, 118px);
  background: #d9a326;
}

.bubble:nth-child(18) {
  height: 15px;
  width: 15px;
  -webkit-transform: translate3d(116vw, 22vh, 306px);
          transform: translate3d(116vw, 22vh, 306px);
  background: #26d974;
}

.bubble:nth-child(19) {
  height: 21px;
  width: 21px;
  -webkit-transform: translate3d(28vw, 67vh, 310px);
          transform: translate3d(28vw, 67vh, 310px);
  background: #c4d926;
}

.bubble:nth-child(20) {
  height: 8px;
  width: 8px;
  -webkit-transform: translate3d(52vw, 100vh, 376px);
          transform: translate3d(52vw, 100vh, 376px);
  background: #88d926;
}

.bubble:nth-child(21) {
  height: 29px;
  width: 29px;
  -webkit-transform: translate3d(144vw, 146vh, 518px);
          transform: translate3d(144vw, 146vh, 518px);
  background: #a6d926;
}

.bubble:nth-child(22) {
  height: 18px;
  width: 18px;
  -webkit-transform: translate3d(66vw, 19vh, 265px);
          transform: translate3d(66vw, 19vh, 265px);
  background: #cad926;
}

.bubble:nth-child(23) {
  height: 23px;
  width: 23px;
  -webkit-transform: translate3d(36vw, 39vh, 197px);
          transform: translate3d(36vw, 39vh, 197px);
  background: #b5d926;
}

.bubble:nth-child(24) {
  height: 16px;
  width: 16px;
  -webkit-transform: translate3d(124vw, 80vh, 126px);
          transform: translate3d(124vw, 80vh, 126px);
  background: #268bd9;
}

.bubble:nth-child(25) {
  height: 18px;
  width: 18px;
  -webkit-transform: translate3d(85vw, 69vh, 64px);
          transform: translate3d(85vw, 69vh, 64px);
  background: #2629d9;
}

.bubble:nth-child(26) {
  height: 24px;
  width: 24px;
  -webkit-transform: translate3d(32vw, 34vh, 88px);
          transform: translate3d(32vw, 34vh, 88px);
  background: #d926c1;
}

.bubble:nth-child(27) {
  height: 29px;
  width: 29px;
  -webkit-transform: translate3d(24vw, 88vh, 524px);
          transform: translate3d(24vw, 88vh, 524px);
  background: #32d926;
}

.bubble:nth-child(28) {
  height: 20px;
  width: 20px;
  -webkit-transform: translate3d(103vw, 137vh, 300px);
          transform: translate3d(103vw, 137vh, 300px);
  background: #26d3d9;
}

.bubble:nth-child(29) {
  height: 6px;
  width: 6px;
  -webkit-transform: translate3d(111vw, 34vh, 353px);
          transform: translate3d(111vw, 34vh, 353px);
  background: #d94126;
}

.bubble:nth-child(30) {
  height: 8px;
  width: 8px;
  -webkit-transform: translate3d(89vw, 45vh, 493px);
          transform: translate3d(89vw, 45vh, 493px);
  background: #7dd926;
}

.bubble:nth-child(31) {
  height: 26px;
  width: 26px;
  -webkit-transform: translate3d(6vw, 35vh, 209px);
          transform: translate3d(6vw, 35vh, 209px);
  background: #d9269d;
}

.bubble:nth-child(32) {
  height: 28px;
  width: 28px;
  -webkit-transform: translate3d(55vw, 104vh, 526px);
          transform: translate3d(55vw, 104vh, 526px);
  background: #38d926;
}

.bubble:nth-child(33) {
  height: 16px;
  width: 16px;
  -webkit-transform: translate3d(41vw, 38vh, 318px);
          transform: translate3d(41vw, 38vh, 318px);
  background: #26d9cd;
}

.bubble:nth-child(34) {
  height: 27px;
  width: 27px;
  -webkit-transform: translate3d(64vw, 85vh, 465px);
          transform: translate3d(64vw, 85vh, 465px);
  background: #cad926;
}

.bubble:nth-child(35) {
  height: 21px;
  width: 21px;
  -webkit-transform: translate3d(90vw, 84vh, 499px);
          transform: translate3d(90vw, 84vh, 499px);
  background: #2647d9;
}

.bubble:nth-child(36) {
  height: 18px;
  width: 18px;
  -webkit-transform: translate3d(81vw, 144vh, 586px);
          transform: translate3d(81vw, 144vh, 586px);
  background: #26d971;
}

.bubble:nth-child(37) {
  height: 6px;
  width: 6px;
  -webkit-transform: translate3d(125vw, 116vh, 69px);
          transform: translate3d(125vw, 116vh, 69px);
  background: #a926d9;
}

.bubble:nth-child(38) {
  height: 20px;
  width: 20px;
  -webkit-transform: translate3d(149vw, 79vh, 247px);
          transform: translate3d(149vw, 79vh, 247px);
  background: #d9263b;
}

.bubble:nth-child(39) {
  height: 29px;
  width: 29px;
  -webkit-transform: translate3d(39vw, 37vh, 163px);
          transform: translate3d(39vw, 37vh, 163px);
  background: #5326d9;
}

.bubble:nth-child(40) {
  height: 14px;
  width: 14px;
  -webkit-transform: translate3d(121vw, 78vh, 387px);
          transform: translate3d(121vw, 78vh, 387px);
  background: #d95926;
}

.bubble:nth-child(41) {
  height: 16px;
  width: 16px;
  -webkit-transform: translate3d(35vw, 50vh, 502px);
          transform: translate3d(35vw, 50vh, 502px);
  background: #26d9a3;
}

.bubble:nth-child(42) {
  height: 7px;
  width: 7px;
  -webkit-transform: translate3d(106vw, 18vh, 515px);
          transform: translate3d(106vw, 18vh, 515px);
  background: #8226d9;
}

.bubble:nth-child(43) {
  height: 11px;
  width: 11px;
  -webkit-transform: translate3d(147vw, 36vh, 51px);
          transform: translate3d(147vw, 36vh, 51px);
  background: #d9d626;
}

.bubble:nth-child(44) {
  height: 19px;
  width: 19px;
  -webkit-transform: translate3d(145vw, 44vh, 101px);
          transform: translate3d(145vw, 44vh, 101px);
  background: #d9264d;
}

.bubble:nth-child(45) {
  height: 26px;
  width: 26px;
  -webkit-transform: translate3d(10vw, 136vh, 95px);
          transform: translate3d(10vw, 136vh, 95px);
  background: #d99a26;
}

.bubble:nth-child(46) {
  height: 6px;
  width: 6px;
  -webkit-transform: translate3d(55vw, 100vh, 80px);
          transform: translate3d(55vw, 100vh, 80px);
  background: #ac26d9;
}

.bubble:nth-child(47) {
  height: 1px;
  width: 1px;
  -webkit-transform: translate3d(71vw, 137vh, 13px);
          transform: translate3d(71vw, 137vh, 13px);
  background: #cd26d9;
}

.bubble:nth-child(48) {
  height: 11px;
  width: 11px;
  -webkit-transform: translate3d(99vw, 133vh, 149px);
          transform: translate3d(99vw, 133vh, 149px);
  background: #266ed9;
}

.bubble:nth-child(49) {
  height: 16px;
  width: 16px;
  -webkit-transform: translate3d(72vw, 79vh, 182px);
          transform: translate3d(72vw, 79vh, 182px);
  background: #d99426;
}

.bubble:nth-child(50) {
  height: 18px;
  width: 18px;
  -webkit-transform: translate3d(138vw, 75vh, 82px);
          transform: translate3d(138vw, 75vh, 82px);
  background: #d92680;
}

.bubble:nth-child(51) {
  height: 28px;
  width: 28px;
  -webkit-transform: translate3d(47vw, 47vh, 155px);
          transform: translate3d(47vw, 47vh, 155px);
  background: #26d9b2;
}

.bubble:nth-child(52) {
  height: 30px;
  width: 30px;
  -webkit-transform: translate3d(87vw, 22vh, 371px);
          transform: translate3d(87vw, 22vh, 371px);
  background: #91d926;
}

.bubble:nth-child(53) {
  height: 25px;
  width: 25px;
  -webkit-transform: translate3d(30vw, 119vh, 592px);
          transform: translate3d(30vw, 119vh, 592px);
  background: #d326d9;
}

.bubble:nth-child(54) {
  height: 26px;
  width: 26px;
  -webkit-transform: translate3d(73vw, 28vh, 418px);
          transform: translate3d(73vw, 28vh, 418px);
  background: #d95026;
}

.bubble:nth-child(55) {
  height: 2px;
  width: 2px;
  -webkit-transform: translate3d(4vw, 150vh, 419px);
          transform: translate3d(4vw, 150vh, 419px);
  background: #26d953;
}

.bubble:nth-child(56) {
  height: 25px;
  width: 25px;
  -webkit-transform: translate3d(70vw, 122vh, 161px);
          transform: translate3d(70vw, 122vh, 161px);
  background: #9126d9;
}

.bubble:nth-child(57) {
  height: 4px;
  width: 4px;
  -webkit-transform: translate3d(45vw, 114vh, 472px);
          transform: translate3d(45vw, 114vh, 472px);
  background: #26a3d9;
}

.bubble:nth-child(58) {
  height: 30px;
  width: 30px;
  -webkit-transform: translate3d(85vw, 119vh, 561px);
          transform: translate3d(85vw, 119vh, 561px);
  background: #bb26d9;
}

.bubble:nth-child(59) {
  height: 25px;
  width: 25px;
  -webkit-transform: translate3d(102vw, 57vh, 511px);
          transform: translate3d(102vw, 57vh, 511px);
  background: #2677d9;
}

.bubble:nth-child(60) {
  height: 1px;
  width: 1px;
  -webkit-transform: translate3d(38vw, 108vh, 8px);
          transform: translate3d(38vw, 108vh, 8px);
  background: #26d9bb;
}

.bubble:nth-child(61) {
  height: 20px;
  width: 20px;
  -webkit-transform: translate3d(34vw, 145vh, 454px);
          transform: translate3d(34vw, 145vh, 454px);
  background: #32d926;
}

.bubble:nth-child(62) {
  height: 9px;
  width: 9px;
  -webkit-transform: translate3d(1vw, 19vh, 120px);
          transform: translate3d(1vw, 19vh, 120px);
  background: #2926d9;
}

.bubble:nth-child(63) {
  height: 17px;
  width: 17px;
  -webkit-transform: translate3d(7vw, 62vh, 201px);
          transform: translate3d(7vw, 62vh, 201px);
  background: #26d3d9;
}

.bubble:nth-child(64) {
  height: 21px;
  width: 21px;
  -webkit-transform: translate3d(22vw, 134vh, 113px);
          transform: translate3d(22vw, 134vh, 113px);
  background: #d9264a;
}

.bubble:nth-child(65) {
  height: 8px;
  width: 8px;
  -webkit-transform: translate3d(20vw, 49vh, 251px);
          transform: translate3d(20vw, 49vh, 251px);
  background: #d9268e;
}

.bubble:nth-child(66) {
  height: 30px;
  width: 30px;
  -webkit-transform: translate3d(4vw, 59vh, 246px);
          transform: translate3d(4vw, 59vh, 246px);
  background: #3826d9;
}

.bubble:nth-child(67) {
  height: 24px;
  width: 24px;
  -webkit-transform: translate3d(101vw, 30vh, 314px);
          transform: translate3d(101vw, 30vh, 314px);
  background: #2626d9;
}

.bubble:nth-child(68) {
  height: 27px;
  width: 27px;
  -webkit-transform: translate3d(116vw, 15vh, 267px);
          transform: translate3d(116vw, 15vh, 267px);
  background: #d92680;
}

.bubble:nth-child(69) {
  height: 9px;
  width: 9px;
  -webkit-transform: translate3d(142vw, 106vh, 535px);
          transform: translate3d(142vw, 106vh, 535px);
  background: #8b26d9;
}

.bubble:nth-child(70) {
  height: 2px;
  width: 2px;
  -webkit-transform: translate3d(61vw, 110vh, 229px);
          transform: translate3d(61vw, 110vh, 229px);
  background: #5626d9;
}

.bubble:nth-child(71) {
  height: 7px;
  width: 7px;
  -webkit-transform: translate3d(67vw, 87vh, 37px);
          transform: translate3d(67vw, 87vh, 37px);
  background: #d926ac;
}

.bubble:nth-child(72) {
  height: 14px;
  width: 14px;
  -webkit-transform: translate3d(7vw, 13vh, 271px);
          transform: translate3d(7vw, 13vh, 271px);
  background: #2c26d9;
}

.bubble:nth-child(73) {
  height: 5px;
  width: 5px;
  -webkit-transform: translate3d(33vw, 97vh, 220px);
          transform: translate3d(33vw, 97vh, 220px);
  background: #d9ac26;
}

.bubble:nth-child(74) {
  height: 21px;
  width: 21px;
  -webkit-transform: translate3d(84vw, 61vh, 486px);
          transform: translate3d(84vw, 61vh, 486px);
  background: #32d926;
}

.bubble:nth-child(75) {
  height: 14px;
  width: 14px;
  -webkit-transform: translate3d(54vw, 30vh, 523px);
          transform: translate3d(54vw, 30vh, 523px);
  background: #4dd926;
}

.bubble:nth-child(76) {
  height: 10px;
  width: 10px;
  -webkit-transform: translate3d(94vw, 102vh, 172px);
          transform: translate3d(94vw, 102vh, 172px);
  background: #2644d9;
}

.bubble:nth-child(77) {
  height: 15px;
  width: 15px;
  -webkit-transform: translate3d(6vw, 9vh, 354px);
          transform: translate3d(6vw, 9vh, 354px);
  background: #6526d9;
}

.bubble:nth-child(78) {
  height: 16px;
  width: 16px;
  -webkit-transform: translate3d(16vw, 62vh, 210px);
          transform: translate3d(16vw, 62vh, 210px);
  background: #a9d926;
}

.bubble:nth-child(79) {
  height: 2px;
  width: 2px;
  -webkit-transform: translate3d(113vw, 2vh, 71px);
          transform: translate3d(113vw, 2vh, 71px);
  background: #65d926;
}

.bubble:nth-child(80) {
  height: 26px;
  width: 26px;
  -webkit-transform: translate3d(125vw, 11vh, 277px);
          transform: translate3d(125vw, 11vh, 277px);
  background: #2cd926;
}

.bubble:nth-child(81) {
  height: 9px;
  width: 9px;
  -webkit-transform: translate3d(65vw, 20vh, 532px);
          transform: translate3d(65vw, 20vh, 532px);
  background: #26d932;
}

.bubble:nth-child(82) {
  height: 17px;
  width: 17px;
  -webkit-transform: translate3d(79vw, 26vh, 154px);
          transform: translate3d(79vw, 26vh, 154px);
  background: #ac26d9;
}

.bubble:nth-child(83) {
  height: 29px;
  width: 29px;
  -webkit-transform: translate3d(44vw, 39vh, 499px);
          transform: translate3d(44vw, 39vh, 499px);
  background: #d9265c;
}

.bubble:nth-child(84) {
  height: 26px;
  width: 26px;
  -webkit-transform: translate3d(66vw, 113vh, 323px);
          transform: translate3d(66vw, 113vh, 323px);
  background: #94d926;
}

.bubble:nth-child(85) {
  height: 6px;
  width: 6px;
  -webkit-transform: translate3d(72vw, 144vh, 457px);
          transform: translate3d(72vw, 144vh, 457px);
  background: #266ed9;
}

.bubble:nth-child(86) {
  height: 22px;
  width: 22px;
  -webkit-transform: translate3d(78vw, 88vh, 172px);
          transform: translate3d(78vw, 88vh, 172px);
  background: #4726d9;
}

.bubble:nth-child(87) {
  height: 27px;
  width: 27px;
  -webkit-transform: translate3d(124vw, 134vh, 409px);
          transform: translate3d(124vw, 134vh, 409px);
  background: #d97126;
}

.bubble:nth-child(88) {
  height: 17px;
  width: 17px;
  -webkit-transform: translate3d(5vw, 89vh, 104px);
          transform: translate3d(5vw, 89vh, 104px);
  background: #2635d9;
}

.bubble:nth-child(89) {
  height: 10px;
  width: 10px;
  -webkit-transform: translate3d(132vw, 54vh, 414px);
          transform: translate3d(132vw, 54vh, 414px);
  background: #cad926;
}

.bubble:nth-child(90) {
  height: 25px;
  width: 25px;
  -webkit-transform: translate3d(59vw, 91vh, 446px);
          transform: translate3d(59vw, 91vh, 446px);
  background: #268bd9;
}

.bubble:nth-child(91) {
  height: 16px;
  width: 16px;
  -webkit-transform: translate3d(40vw, 21vh, 396px);
          transform: translate3d(40vw, 21vh, 396px);
  background: #d93526;
}

.bubble:nth-child(92) {
  height: 13px;
  width: 13px;
  -webkit-transform: translate3d(39vw, 70vh, 469px);
          transform: translate3d(39vw, 70vh, 469px);
  background: #29d926;
}

.bubble:nth-child(93) {
  height: 29px;
  width: 29px;
  -webkit-transform: translate3d(72vw, 93vh, 581px);
          transform: translate3d(72vw, 93vh, 581px);
  background: #26c7d9;
}

.bubble:nth-child(94) {
  height: 11px;
  width: 11px;
  -webkit-transform: translate3d(57vw, 43vh, 313px);
          transform: translate3d(57vw, 43vh, 313px);
  background: #d92677;
}

.bubble:nth-child(95) {
  height: 11px;
  width: 11px;
  -webkit-transform: translate3d(140vw, 74vh, 205px);
          transform: translate3d(140vw, 74vh, 205px);
  background: #d326d9;
}

.bubble:nth-child(96) {
  height: 23px;
  width: 23px;
  -webkit-transform: translate3d(98vw, 77vh, 513px);
          transform: translate3d(98vw, 77vh, 513px);
  background: #9dd926;
}

.bubble:nth-child(97) {
  height: 17px;
  width: 17px;
  -webkit-transform: translate3d(121vw, 26vh, 517px);
          transform: translate3d(121vw, 26vh, 517px);
  background: #d9b226;
}

.bubble:nth-child(98) {
  height: 15px;
  width: 15px;
  -webkit-transform: translate3d(74vw, 16vh, 432px);
          transform: translate3d(74vw, 16vh, 432px);
  background: #2677d9;
}

.bubble:nth-child(99) {
  height: 27px;
  width: 27px;
  -webkit-transform: translate3d(10vw, 61vh, 473px);
          transform: translate3d(10vw, 61vh, 473px);
  background: #26a3d9;
}

.bubble:nth-child(100) {
  height: 15px;
  width: 15px;
  -webkit-transform: translate3d(30vw, 33vh, 340px);
          transform: translate3d(30vw, 33vh, 340px);
  background: #d92653;
}

.stacked-panel:nth-child(1) {
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}

.stacked-panel:nth-child(2) {
  -webkit-transform: translateZ(120px);
          transform: translateZ(120px);
}

.stacked-panel:nth-child(3) {
  -webkit-transform: translateZ(240px);
          transform: translateZ(240px);
}

.stacked-panel:nth-child(4) {
  -webkit-transform: translateZ(360px);
          transform: translateZ(360px);
}

.stacked-panel:nth-child(5) {
  -webkit-transform: translateZ(480px);
          transform: translateZ(480px);
}

.stacked-panel:nth-child(1) {
  opacity: calc(1 - ((6 * (var(--scroll) - 0)) * (6 * (var(--scroll) - 0))));
}

.stacked-panel:nth-child(2) {
  opacity: calc(1 - ((6 * (var(--scroll) - 0.25)) * (6 * (var(--scroll) - 0.25))));
}

.stacked-panel:nth-child(3) {
  opacity: calc(1 - ((6 * (var(--scroll) - 0.5)) * (6 * (var(--scroll) - 0.5))));
}

.stacked-panel:nth-child(4) {
  opacity: calc(1 - ((6 * (var(--scroll) - 0.75)) * (6 * (var(--scroll) - 0.75))));
}

.stacked-panel:nth-child(5) {
  opacity: calc(1 - ((6 * (var(--scroll) - 1)) * (6 * (var(--scroll) - 1))));
}
/*# sourceMappingURL=style.css.map */